<ul class="metismenu" id="menu">
    <hr>
                    <li><a class="" href="/message" aria-expanded="false">
							<i class="fa fa-envelope"></i>
							<span class="nav-text text-capitalize">boite de reception</span>
						</a>
                    

                    </li>
					<hr>
                    <li><a href="/document" class="" aria-expanded="false">
                            <i class="fas fa-paper-plane"></i>
                            <span class="nav-text">Envoyer Document</span>
                        </a>
                    </li>


                    <hr>
                    <li><a href="/profile" class="" aria-expanded="false">
							<i class="fas fa-user-check"></i>
							<span class="nav-text">Profile</span>
						</a>
					</li>

                   

                    <hr>
                    <li><a href="/password_modifier/{{session['id_agent']}}" class="" aria-expanded="false">
                            <i class="fa fa-unlock"></i>
                            <span class="nav-text">Change Mot de passe</span>
                        </a>
                    </li>

                        <hr>
                    <li><a href="/deco" class="" aria-expanded="false">
                            <i class="fa fa-unlock"></i>
                            <span class="nav-text">Deconnexion</span>
                        </a>
                    </li>
                   
                   <hr>
                   
                </ul>