<ul class="metismenu" id="menu">
    <hr>
                    <li><a class="" href="/accueil" aria-expanded="false">
							<i class="fas fa-home"></i>
							<span class="nav-text">Accueil</span>
						</a>
                    

                    </li>
					<hr>
                    <li><a class="" href="/add" aria-expanded="false">
						<i class="fas fa-plus-circle"></i> 
							<span class="nav-text">Ajouter Membre</span>
						</a>
                       
                    </li>
                    <hr>
                    <li><a href="/profile" class="" aria-expanded="false">
							<i class="fas fa-user-check"></i>
							<span class="nav-text">Profile</span>
						</a>
					</li>
                        <hr>
                  <li><a href="/deco" class="" aria-expanded="false">
                            <i class="fa fa-unlock"></i>
                            <span class="nav-text">Deconnexion</span>
                        </a>
                    </li>
                   
                   <hr>
                   
                </ul>