<ul class="metismenu" id="menu">
    <hr>
                     <li><a class="" href="/recevoir" aria-expanded="false">
                            <i class="fa fa-user-edit"></i>
                            <span class="nav-text">Boite de reception</span>
                        </a>
                    

                    </li>
                    

                    </li>
                  <hr>
                     <li><a href="/message" class="" aria-expanded="false">
                            <i class="fas fa-envelope-open"></i>
                            <span class="nav-text">Message Envoyer</span>
                        </a>
                    </li>

					<hr>
                      <li><a href="/document" class="" aria-expanded="false">
                            <i class="fas fa-paper-plane"></i>
                            <span class="nav-text">Envoyer Document</span>
                        </a>
                    </li>

                  
                

                    <hr>
                    <li><a href="/profile" class="" aria-expanded="false">
							<i class="fas fa-user-check"></i>
							<span class="nav-text">Profile</span>
						</a>
					</li>
           <hr>
                    <li><a href="/password_modifier/{{session['id_agent']}}" class="" aria-expanded="false">
                            <i class="fa fa-unlock"></i>
                            <span class="nav-text">Change Mot de passe</span>
                        </a>
                    </li>
                        <hr>
                   <li><a href="/deco" class="" aria-expanded="false">
                            <i class="fa fa-unlock"></i>
                            <span class="nav-text">Deconnexion</span>
                        </a>
                    </li>
                   
                   <hr>
</ul>